* {
  padding: 0;
  margin: 0;
}

.body {
  background: url("snake.png");
  min-height: 100vh;
  /* background-size: 100vw 100vh; */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreBox {
  position: absolute;
  top: 7%;
  left: 3%;
  font-size: 40px;
  font-weight: bold;
  font-family: "New Tegomin", serif;
  color: aliceblue;
}

#hiscoreBox {
  position: absolute;
  top: 14%;
  left: 3%;
  font-size: 40px;
  font-weight: bold;
  font-family: "New Tegomin", serif;
  color: aliceblue;
}
#board {
  background: linear-gradient(rgb(172, 232, 172), rgb(171, 184, 154));
  width: 100vmin;
  height: 95vmin;
  border: 5px solid rgb(7, 82, 1);
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

.head {
  background: linear-gradient(rgb(212, 233, 25), rgb(239, 171, 24));
  border: 2px solid rgb(33, 9, 2);
  transform: scale(1.02);
  border-radius: 10px;
}

.snake {
  background: linear-gradient(rgb(212, 233, 25), rgb(239, 171, 24));
  border: 0.25vmin solid rgb(33, 9, 2);
  border-radius: 10px;
}

.food {
  background: linear-gradient(brown, rgb(242, 54, 11));
  border: 0.25vmin solid rgb(58, 54, 3);
  border-radius: 50px;
}

#u {
  position: absolute;
  top: 40%;
  right: 15%;
}

#d {
  position: absolute;
  top: 47%;
  right: 15%;
}

#l {
  position: absolute;
  top: 47%;
  right: 20%;
}

#r {
  position: absolute;
  top: 47%;
  right: 10%;
}

@media screen and (max-width: 950px) {
  #u {
    position: absolute;
    top: 79%;
    right: 40%;
  }

  #d {
    position: absolute;
    top: 87%;
    right: 40%;
  }

  #l {
    position: absolute;
    top: 87%;
    right: 63%;
  }

  #r {
    position: absolute;
    top: 87%;
    right: 17%;
  }
}

.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* CSS */
.btn {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 40px;
}

.btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
